Repository DeadIntermediate/filine-wall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black, python -m isort, python -m flake8

feat: implement Scammer Honeypot Detection System with comprehensive call analysis and campaign tracking
  ML_FEATURES.md
  README.md
  server/services/adaptiveLearningEngine.ts
  server/services/advancedVoiceAnalysis.ts
  server/services/callPatternAnalyzer.ts
  server/services/collaborativeThreatIntelligence.ts
  server/services/honeypotSystem.ts
Due: eslint --fix, prettier --write

feat: Implement Master Call Screening Engine with multi-layer spam detection and reporting features
  API_QUICK_REFERENCE.md
  DATABASE_ANALYSIS.md
  DATABASE_SETUP_SUMMARY.md
  README.md
  SPAM_API_INTEGRATION_SUMMARY.md
  SPAM_API_SETUP.md
  db/optimize.sql
  server/services/fccSpamDatabase.ts
  server/services/masterCallScreening.ts
  server/services/spamNumberAPIs.ts
  setup-database.sh
Due: eslint --fix, prettier --write

feat: Add project status summary and quick start guide for FiLine Wall
  Fix-CriticalIssues.ps1
  IMPROVEMENTS_ROADMAP.md
  PROJECT_STATUS.md
  QUICK_START.md
  fix-critical-issues.sh
Due: prettier --write

Implement Federated Learning System, Real-time Model Updater, and Reinforcement Learning Optimizer
  CONTINUOUS_LEARNING_IMPROVEMENTS.md
  QUICK_START_CONTINUOUS_LEARNING.md
  server/services/advancedNLPScamDetector.ts
  server/services/federatedLearning.ts
  server/services/realtimeModelUpdater.ts
  server/services/reinforcementLearning.ts
Due: eslint --fix, prettier --write

feat: Add comprehensive Scam List API Aggregator with multiple data sources and automatic updates
  SCAM_LIST_API_GUIDE.md
  server/services/scamListAPIs.ts
Due: eslint --fix, prettier --write

feat: Add modem profiles and AT command configurations
  .env.example
  .gitignore
  CODE_IMPROVEMENTS_SUMMARY.md
  GETTING_STARTED.md
  MODEM_SUPPORT.md
  package.json
  server/config/modemProfiles.ts
  server/index.ts
  server/middleware/validation.schemas.ts
  server/routes.ts
  server/services/authService.ts
  server/services/encryptionService.ts
  server/services/modemInterface.ts
  setup.ps1
  setup.sh
  start.ps1
  start.sh
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Implement Learning Dashboard and Analytics Learning Engine
  ADVANCED_DETECTION_METHODS.md
  ANALYTICS_CONTINUOUS_IMPROVEMENT.md
  client/src/components/LearningDashboard.tsx
  server/services/analyticsLearningEngine.ts
Due: eslint --fix, prettier --write

feat: Add comprehensive transfer guide for FiLine Wall to another Raspberry Pi
  TRANSFER_GUIDE.md
Due: prettier --write

Implement social network validation, STIR/SHAKEN verification, and VoIP IP reputation checking services
  ADVANCED_DETECTION_IMPLEMENTATION.md
  ADVANCED_DETECTION_QUICK_START.md
  GRANDSTREAM_HT802_SETUP.md
  HARDWARE_SETUP_GUIDE.md
  MODEM_SUPPORT.md
  README.md
  server/config/modemProfiles.ts
  server/examples/modem-usage.ts
  server/services/acousticEnvironmentAnalysis.ts
  server/services/advancedDetectionCoordinator.ts
  server/services/behavioralBiometrics.ts
  server/services/blockchainCallerVerification.ts
  server/services/callMetadataAnalyzer.ts
  server/services/modemInterface.ts
  server/services/sentimentAnalyzer.ts
  server/services/socialNetworkValidator.ts
  server/services/stirShakenVerification.ts
  server/services/voipIPReputationChecker.ts
Due: eslint --fix, prettier --write

feat: Integrate centralized logging across detection services and enhance error handling
  DETECTION_SERVICES_IMPROVEMENTS.md
  LOGGING_IMPROVEMENTS_COMPLETE.md
  server/services/acousticEnvironmentAnalysis.ts
  server/services/advancedDetectionCoordinator.ts
  server/services/behavioralBiometrics.ts
  server/services/blockchainCallerVerification.ts
  server/services/callMetadataAnalyzer.ts
  server/services/sentimentAnalyzer.ts
  server/services/socialNetworkValidator.ts
  server/services/stirShakenVerification.ts
  server/services/voipIPReputationChecker.ts
  update-detection-logging.sh
Due: eslint --fix, prettier --write

feat: Enhance logging capabilities across the application and add comprehensive console logging guide
  CONSOLE_LOGGING_GUIDE.md
  TMUX_GUIDE.md
  filine-ctl.sh
  server/index.ts
  server/services/callScreening.ts
  start-tmux.sh
Due: eslint --fix, prettier --write

feat: Add comprehensive deployment package and instructions for Raspberry Pi setup
  DEPLOYMENT_PACKAGE_GUIDE.md
  package-for-deploy.sh
Due: prettier --write

Refactor: Remove replit.md and replit.nix files
  .replit
  db/index.ts
  fix-database.sh
  fix-env.sh
  fix-imports.sh
  install-complete.sh
  install.sh
  package.json
  replit.md
  replit.nix
  server/index.ts
  temp999.txt
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: migrate from pg to postgres package and update database configuration
  db/index.ts
  fix-database.sh
  install-complete.sh
  package-lock.json
  package.json
  server/index.ts
Due: eslint --fix, prettier --write

Add comprehensive one-command installer with PostgreSQL 18 support
  INSTALL_GUIDE.md
  db/index.ts
  install-complete.sh
  start-filine.sh
  upgrade-postgresql.sh
Due: eslint --fix, prettier --write

Fix PostgreSQL GPG key import and remove duplicate function
  bootstrap.sh
  install-complete.sh
Due: none

Clean up old PostgreSQL repository before adding new one
  install-complete.sh
Due: none

Auto-create .env file if missing in start script
  start-filine.sh
Due: none

Add quick fix guide for missing DATABASE_URL
  QUICK_FIX.md
Due: prettier --write

Use npm run dev in start script to properly load .env
  start-filine.sh
Due: none

Fix UI overlap: Make header responsive and constrain RiskScoreGauge width
  client/src/components/RiskScoreGauge.tsx
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

Add tmux support to start script and create session manager
  manage-filine.sh
  start-filine.sh
Due: none

Consolidate start scripts: merge start.sh into start-filine.sh with pre-flight checks
  start-filine.sh
  start.sh
Due: none

Move System Risk Score from header to Overview tab
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

Add hardware device selector for USRobotics and Grandstream modems
  client/src/components/HardwareConfig.tsx
  client/src/pages/Settings.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

Add driver management endpoints and passwordless sudo setup script
  client/src/components/HardwareConfig.tsx
  server/routes.ts
  setup-sudo.sh
Due: eslint --fix, prettier --write

feat: Add automatic hardware detection and passwordless sudo setup
  HARDWARE_SETUP.md
  README.md
  client/src/components/HardwareConfig.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

feat: Add support for USRobotics USR5686G modem
  HARDWARE_SETUP.md
  README.md
  YOUR_HARDWARE.md
  client/src/components/HardwareConfig.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

fix: Make authentication optional for local deployments
  fix-env.sh
  server/routes.ts
Due: eslint --fix, prettier --write

docs: Add authentication fix reference guide
  AUTH_FIX_README.md
Due: prettier --write

refactor: Redesign interface with collapsible left sidebar
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

feat: Add live call monitor console
  client/src/components/CallMonitor.tsx
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

feat: Add GitHub installation and update scripts
  README.md
  quick-install.sh
  update-from-github.sh
Due: prettier --write

Update installation documentation after removing redundant scripts
  README.md
  install.sh
  setup-database.sh
  setup.sh
Due: prettier --write

Streamline installation: Remove redundant Docker and Windows support
  Dockerfile
  Fix-CriticalIssues.ps1
  GETTING_STARTED.md
  INSTALL.md
  PROJECT_STATUS.md
  QUICK_START.md
  README.md
  bootstrap.sh
  docker-compose.yml
  docker-entrypoint.sh
  docker-setup.sh
  fix-critical-issues.sh
  install.ps1
  nginx.conf
  setup-wizard.js
  setup.ps1
  start-tmux.sh
  start.ps1
Due: eslint --fix, prettier --write

Release v2.0.0 - GitHub Edition
  AUTH_FIX_README.md
  CODE_IMPROVEMENTS_SUMMARY.md
  DATABASE_SETUP_SUMMARY.md
  DETECTION_SERVICES_IMPROVEMENTS.md
  INSTALL_GUIDE.md
  LOGGING_IMPROVEMENTS_COMPLETE.md
  QUICK_FIX.md
  README.md
  VERSION
  VERSION.md
  package.json
  temp999.txt
Due: prettier --write

feat: Improve database provisioning with dedicated user and secure credentials
  .env.example
  enable-network-access.sh
  install-complete.sh
Due: none

fix: Add dependency verification and fix script for missing modules
  fix-dependencies.sh
  install-complete.sh
Due: none

docs: Update v4.0 roadmap with cross-platform support (Windows/macOS/Linux)
  ROADMAP_V4.md
Due: prettier --write

docs: Update Windows approach to portable executable (no installer)
  ROADMAP_V4.md
Due: prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  python -m black: any of: *.py
  python -m isort: any of: *.py
  python -m flake8: any of: *.py
