Repository DeadIntermediate/filine-wall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black, python -m isort, python -m flake8

.lintstagedrc.json:

{
  "*.{ts,tsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{js,jsx}": [
    "eslint --fix",
    "prettier --write",
    "git add"
  ],
  "*.{json,md,yml,yaml}": [
    "prettier --write",
    "git add"
  ],
  "*.py": [
    "python -m black",
    "python -m isort",
    "python -m flake8",
    "git add"
  ]
}

feat: Add remote PostgreSQL support for distributed setup (DB on 10.0.0.97)
  .env.pi5-production
  setup-pi5.sh
  setup-postgres-remote.sh
  test-db-connection.sh
Due: none

fix: Update PostgreSQL credentials to use 'postgresql' user with correct password
  .env.pi5-production
  filine-postgres-setup.sh
Due: none

fix: Add error handling for database queries when DB not connected
  server/routes.ts
Due: eslint --fix, prettier --write

fix: Update file permissions for filine-postgres-setup.sh to make it executable
  filine-postgres-setup.sh
Due: none

fix: Update license in package.json to GPL-3.0-or-later and add LICENSE file
  LICENSE
  package.json
Due: prettier --write

feat: Enhance logging and error handling in call logging and service scripts; add modem setup guide and quick start summary
  MODEM_SETUP_GUIDE.md
  QUICK_START_SUMMARY.md
  device-client/call_detector.py
  device-client/install-service.sh
  server/routes.ts
  server/services/callScreening.ts
  server/services/metrics.ts
  server/vite.ts
Due: eslint --fix, prettier --write, python -m black, python -m isort, python -m flake8

feat: Enhance caller ID detection with verbose logging and support for multiple formats
  CALLER_ID_TROUBLESHOOTING.md
  device-client/call_detector.py
  device-client/test-modem-output.py
Due: prettier --write, python -m black, python -m isort, python -m flake8

feat: Add comprehensive documentation and scripts for updating and testing caller ID on Raspberry Pi
  MANUAL_UPDATE_GUIDE.md
  QUICK_FIX_CALLER_ID.md
  connect-and-test.ps1
  connect-pi.ps1
  device-client/update-on-pi.sh
  sync-to-pi.ps1
Due: prettier --write

feat: Improve layout of overview section with enhanced card structure and added community spam reports
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

feat: Add comprehensive modem diagnostic scripts for Raspberry Pi
  diagnose-modem-pi.sh
  diagnose-modem.ps1
Due: none

sh deadintermediate@10.0.0.116 e -l /dev/ttyACM* /dev/ttyUSB* 2>/dev/null ge branch 'main' of https://github.com/DeadIntermediate/filine-wall
  test-live-calls.sh
Due: none

feat: Implement modem auto-detection and configuration scripts for Raspberry Pi
  check-pi-modem.ps1
  device-client/99-modem-autodetect.rules
  device-client/check-modem-status.sh
  device-client/install-modem-autodetect.sh
  device-client/modem-autoconfig.sh
  install-modem-autodetect.ps1
Due: none

Refactor: Consolidate multiple scripts into a unified management script (filine.sh)
  FILINE_SCRIPT_GUIDE.md
  check-env.sh
  check-status.sh
  diagnose-modem-pi.sh
  enable-network-access.sh
  filine-ctl.sh
  filine-postgres-setup.sh
  filine.sh
  fix-database.sh
  fix-dependencies.sh
  fix-env.sh
  fix-imports.sh
  install-complete.sh
  manage-filine.sh
  optimize-pi5.sh
  package-for-deploy.sh
  provision-database.sh
  quick-install.sh
  quick-setup.sh
  setup-pi5.sh
  setup-postgres-remote.sh
  setup-sudo.sh
  start-filine.sh
  start-postgres.sh
  start-tmux.sh
  start.sh
  test-db-connection.sh
  test-live-calls.sh
  update-detection-logging.sh
  update-from-github.sh
  upgrade-postgresql.sh
Due: prettier --write

feat: Enhance modem management in unified script with auto-detection and service installation
  FILINE_SCRIPT_GUIDE.md
  device-client/check-modem-status.sh
  device-client/install-modem-autodetect.sh
  device-client/install-service.sh
  device-client/modem-autoconfig.sh
  device-client/setup.sh
  device-client/update-on-pi.sh
  filine.sh
Due: prettier --write

feat: Enhance call detector with authentication headers and improve error handling
  device-client/call_detector.py.bak2
  device-client/check-modem-status.sh
  device-client/install-modem-autodetect.sh
  device-client/modem-autoconfig.sh
  device-client/setup.sh
  device-client/test-modem-output.py
  device-client/update-on-pi.sh
  diagnose-modem-pi.sh
Due: python -m black, python -m isort, python -m flake8

feat: add encryption service with unit tests and Jest configuration
  jest.config.cjs
  jest.setup.js
  package-lock.json
  package.json
  server/__tests__/encryptionService.test.ts
  server/services/encryption.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: Enhance UI and functionality for call monitoring and statistics
  client/apple-touch-icon.png
  client/favicon.svg
  client/index.html
  client/src/components/CallMonitor.tsx
  client/src/components/Statistics.tsx
  client/src/pages/MasterInterface.tsx
  client/src/pages/VerifyCaller.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

feat: Update configuration for testing mode, enhance mock data responses, and improve voice analysis handling
  drizzle.config.ts
  package-lock.json
  package.json
  server/index.ts
  server/routes.ts
  server/services/callScreening.ts
  test-server.js
Due: eslint --fix, prettier --write

feat: Add setup script for FiLine Wall on Linux with MariaDB installation and configuration
  .env.pi5-production
  DATABASE_ANALYSIS.md
  README.md
  client/src/components/DeviceConfigPanel.tsx
  db/index.ts
  db/schema.ts
  drizzle.config.ts
  migrations/0000_tearful_mentallo.sql
  migrations/meta/0000_snapshot.json
  migrations/meta/_journal.json
  package-lock.json
  package.json
  server/routes.ts
  setup.sh
  test-db.js
Due: eslint --fix, prettier --write
