Repository DeadIntermediate/filine-wall: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, python -m black, python -m isort, python -m flake8

docs: Eliminate log files from v4.0 architecture
  ROADMAP_V4.md
Due: prettier --write

feat: Add optional remote logging to v4.0 roadmap
  ROADMAP_V4.md
Due: prettier --write

feat: Add standalone database provisioning script
  provision-database.sh
Due: none

feat: Add environment diagnostic tool
  check-env.sh
Due: none

fix: Load .env file explicitly with tsx --env-file flag
  package.json
Due: prettier --write

fix: Ensure first device is selected only if it exists
  client/src/pages/MasterInterface.tsx
Due: eslint --fix, prettier --write

fix: Use dotenv/config preload instead of tsx --env-file flag
  package.json
Due: prettier --write

fix: Support version-specific PostgreSQL service names
  install-complete.sh
  provision-database.sh
Due: none

fix: Use apt-get instead of apt in scripts
  check-env.sh
  install-complete.sh
  provision-database.sh
Due: none

fix: Replace remaining apt with apt-get in install script
  install-complete.sh
Due: none

fix: Improve PostgreSQL service start with better error handling
  install-complete.sh
Due: none

feat: Add PostgreSQL service detection and starter script
  start-postgres.sh
Due: none

fix: Support 32-bit ARM (armhf) PostgreSQL installation
  install-complete.sh
Due: none

fix: Auto-disable TensorFlow features on 32-bit ARM (armhf)
  install-complete.sh
Due: none

fix: Make TensorFlow import conditional to support 32-bit ARM
  server/routes.ts
  server/utils/tensorflowLoader.ts
Due: eslint --fix, prettier --write

fix: Resolve TypeScript errors in routes and services
  server/routes.ts
  server/services/spamDetectionService.ts
Due: eslint --fix, prettier --write

fix: Fix spamDetectionService class structure and TensorFlow type issues
  server/services/spamDetectionService.ts
Due: eslint --fix, prettier --write

fix: Resolve remaining TypeScript errors in spamDetectionService
  server/services/spamDetectionService.ts
Due: eslint --fix, prettier --write

fix: Resolve all TypeScript errors in advancedVoiceAnalysis
  server/services/advancedVoiceAnalysis.ts
  server/services/web-audio-api.d.ts
Due: eslint --fix, prettier --write

fix: Add explicit return statements to all async route handlers
  server/routes.ts
Due: eslint --fix, prettier --write

docs: Add v3.0 roadmap with modern web stack migration
  ROADMAP_V3.md
Due: prettier --write

fix: Add node-vad type declarations and improve import style
  server/services/node-vad.d.ts
  server/services/voiceAnalysisService.ts
Due: eslint --fix, prettier --write

docs: Add comprehensive v2.0 testing plan
  TEST_PLAN_V2.md
Due: prettier --write

docs: Add comprehensive session summary
  SESSION_SUMMARY.md
Due: prettier --write

feat: Add Raspberry Pi setup and troubleshooting tools
  TROUBLESHOOTING_RASPBERRY_PI.md
  check-status.sh
  quick-setup.sh
Due: prettier --write

fix: Add .npmrc and documentation for npm install React conflict
  .npmrc
  NPM_INSTALL_FIX.md
  TROUBLESHOOTING_RASPBERRY_PI.md
  quick-setup.sh
Due: prettier --write

fix: Update voice activity detection to use async processAudio method
  server/services/node-vad.d.ts
  server/services/voiceAnalysisService.ts
Due: eslint --fix, prettier --write

fix: Make TensorFlow imports conditional in all voice analysis services
  server/services/advancedVoiceAnalysis.ts
  server/services/voiceAnalysisService.ts
  server/services/voiceAnalysisService_improved.ts
Due: eslint --fix, prettier --write

fix: Add config endpoint and bypass auth when REQUIRE_AUTH=false
  client/src/App.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

fix: Add auto-login bypass endpoint for local deployments
  client/src/hooks/useAuth.ts
  server/routes.ts
Due: eslint --fix, prettier --write

feat: Remove authentication system for simplified local deployment
  client/src/App.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

fix: Remove duplicate sidebar by removing Layout wrapper
  client/src/App.tsx
Due: eslint --fix, prettier --write

feat: Add device/modem status display to dashboard
  client/src/pages/MasterInterface.tsx
  server/routes.ts
Due: eslint --fix, prettier --write

feat: Add modem testing script to verify connection and AT command responses
  test-modem.py
Due: python -m black, python -m isort, python -m flake8

fix: Add null checks for TensorFlow in voice analysis services to prevent crashes when ML disabled
  server/services/voiceAnalysisService.ts
  server/services/voiceAnalysisService_improved.ts
Due: eslint --fix, prettier --write

feat: Add call detector service installer and modem test scripts
  device-client/config.ini
  device-client/install-service.sh
  device-client/test-call-detection.py
Due: python -m black, python -m isort, python -m flake8

fix: Use system Python packages instead of pip to avoid externally-managed-environment error
  device-client/install-service.sh
Due: none

feat: Add Raspberry Pi 5 production setup with full ML features enabled
  .env.pi5-production
  setup-pi5.sh
Due: none

feat: Full Pi 5 optimization - enable all ML features, performance tuning, and production deployment guide
  .env.pi5-production
  PI5_DEPLOYMENT.md
  optimize-pi5.sh
  setup-pi5.sh
Due: prettier --write

fix: Resolve all TypeScript errors - fix TensorFlow types, auth stubs, device schema, and VAD implementation
  server/routes.ts
  server/services/advancedVoiceAnalysis.ts
  server/services/voiceAnalysisService_improved.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{ts,tsx}) or (any of: *.{js,jsx})
  prettier --write: ((any of: *.{ts,tsx}) or (any of: *.{js,jsx})) or (any of: *.{json,md,yml,yaml})
  python -m black: any of: *.py
  python -m isort: any of: *.py
  python -m flake8: any of: *.py
